.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #ff8000;
  color: white;
  margin-top: auto;
}

.links {
  display: flex;
  gap: 1rem;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  color: white;
  text-decoration: underline;
}
